/* ===============================
   COLORES Y TIPOGRAFÍAS GENERALES
   =============================== */
:root>* {
    /* Fondo del footer */
    --md-footer-bg-color: #E5446D;

    /* Color principal del texto en el footer */
    --md-footer-fg-color: #F8F4E3;

    /* Fondo del footer en modo oscuro */
    --md-footer-bg-color--dark: #2A2B2A;

    /* Colores más claros del texto en el footer */
    --md-footer-fg-color--lighter:  #2A2B2A;
    --md-footer-fg-color--light:    #2A2B2A;

    /* Tipografía general del sitio */
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;

    /* Color de los enlaces (links) */
    --md-typeset-a-color: #FF8966;
}

/* ===============================
   SCROLLBAR (OCULTAR BARRA)
   =============================== */
.hide-scroll-bar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none;    /* Firefox */
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* ===============================
   BOTONES
   =============================== */
.md-typeset .md-button--primary {
    border-width: 1px;            /* grosor del borde */
    border-color: #F8F4E3; /* color del borde */
    border-radius: 4px;           /* esquinas redondeadas */
}

/* ===============================
   TARJETAS (estilo de bloques)
   =============================== */
.cardContent {
  padding: 16px;             /* margen interno */
  font-size: 16px;           /* tamaño de letra */
  color: rgb(32, 32, 32);    /* color del texto */
}

/* ===============================
   TITULOS (H2)
   =============================== */
.md-typeset h2 {
    font-weight: 500;  /* grosor intermedio */
}

/* ===============================
   TEXTO SECUNDARIO (BODY2)
   =============================== */
.mdc-typography--body2 {
    font-weight: 300;  /* más fino */
    font-size: 14px;   /* más chico */
}

/* ===============================
   COLORES PRINCIPALES DEL TEMA
   =============================== */
:root {
  --md-primary-fg-color:        #E5446D; /* color primario general */
  --md-primary-fg-color--light: #F8F4E3;   /* versión clara */
  --md-primary-fg-color--dark:  #706C61; /* versión oscura */
}

/* ===============================
   FONDO Y TEXTO PRINCIPAL
   =============================== */
:root {
    /* Fondo base del sitio (contenido principal) */
    --md-default-bg-color: #F8F4E3; 

    /* Color del texto principal */
    --md-default-fg-color: #2A2B2A;
} 
